.herosection{
    color: white;
    height: 35rem;
  background-color:rgb(13,13,13);
    width: 100vw;
    display: flex;
}
.left{

height: 40rem;
width: 50vw;
padding-top: 15rem;
padding-left:6rem;
}
.herosectionh1{
    font-size: 1.5rem;
}
.herosectionh1 span{
    color: rgb(0,255,255);
}
.stack{
font-size: 1.5rem;
}
.right{
height: 40rem;
width: 50vw;


}
.right img{
    height: 30rem;
    padding-top: 8rem;
    padding-left: 10rem;
 
    
}


@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .herosection{
        color: white;
        height: 35rem;
      background-color:rgb(13,13,13);
        width: 100vw;
        display: flex;
    }
    .left{
    
    height: 40rem;
    width: 60vw;
  
    padding-top: 15rem;
    padding-left:2rem;
    }
    .herosectionh1{
        font-size: 1.1rem;
    }
    .herosectionh1 span{
        color: rgb(0,255,255);
    }
    .stack{
    font-size: 1.1rem;
    }
    .right{
        height: 40rem;
    width: 50vw;
   
  padding-left: 0;
    }
 
 .right img{
    height: 30rem;
    padding-top: 8rem;
    padding-left: 0;
 
    
 }
   
    
}